<%= form_for @message, :html => { :class => 'form-horizontal' } do |f| %>
  <% if @message.errors.any? %>
    <div id="error_explanation">
      <h2 class="separador"><%= pluralize(@message.errors.count, "error") %> prohibited this message from being saved:</h2>

      <ul>
      <% @message.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="control-group">
    <%= f.label "Message", :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :content, :class => 'text_field span12' %>
    </div>
  </div>


  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                messages_path, :class => 'btn' %>
  </div>
<% end %>
