<h1>Sloganers</h1>

  <% @sloganers.each do |sloganer| %>
  <div class="well">
   
    <strong><%= link_to sloganer.username, sloganer_path(sloganer.username) %></strong>
    Nº of Slogans
    <span class="badge"><%= sloganer.messages.size  %></span>
    
    <% if current_user && current_user != sloganer && !(current_user.following? (sloganer))%>
      <%= form_for(current_user.active_relationships.build) do |f| %>
        <%= hidden_field_tag :followed_id, sloganer.id %>
        <%= f.submit "Follow", class: "btn btn-primary" %>
      <% end %>
    <% end %>
  </div>
  <% end %>


  

