
<h1><%= @sloganer.username  %></h1>

<% if current_user && current_user != @sloganer && !(current_user.following? (@sloganer))%>
  <%= form_for(current_user.active_relationships.build) do |f| %>
    <%= hidden_field_tag :followed_id, @sloganer.id %>
    <%= f.submit "Follow", class: "btn btn-primary" %>
  <% end %>
<% end %>
  
<h2>Slogans</h2>
<%  @sloganer.messages.each do |msg| %>
  <div class="well">
    <%= msg.content  %>
  </div>
<% end %>

<h2><%= link_to "Folowing to:", following_sloganer_path(@sloganer.username) %>  </h2>
<%  @sloganer.following.each do |following| %>
  <div class="well">
    <%= link_to following.username, sloganer_path(following.username) %>
  </div>
<% end %>

<h2><%= link_to "Followed by:", followers_sloganer_path(@sloganer.username) %>  </h2>
<%  @sloganer.followers.each do |follower| %>
  <div class="well">
    <%= link_to follower.username, sloganer_path(follower.username) %>
  </div>
<% end %>

<%= link_to "Publish new slogan", new_message_path(current_user), class: "btn btn-primary" if current_user == @sloganer %>

  
